@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

$firstFont: 'Inter', sans-serif;

$red: #FF5959;
$white: #FFFFFF;
$green: #52DF68;
$background: #292727;
$grey: #343434;
$line: #4E4D4D;
$ligth-grey: #969696;